* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/*--------------header----------------*/
.header {
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: #e4ddd1;
}

.barra-fija {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #e4ddd1;
    background-attachment: fixed;
    position: fixed;
}

.hija1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 20px; 
    padding: 10px;
    background-color: #e4ddd1;
    border-bottom: 2px solid #5a3a2d;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.titulo_princ {
    max-height: 100px;
}

.hija2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #e4ddd1;
    border-bottom: 2px solid #5a3a2d;
}

.opciones {
    display: flex; 
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.opciones a {
    text-decoration: none; 
    color: #6c3b13; 
    font-size: 1em;
    font-weight: bold;
}

.opciones a:hover {
    color: #a15e3e;
}


.hija3 {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 10px 0;
    background-color: #e4ddd1;
}

.buscador {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 60%;
    max-width: 800px;
}

.buscador input[type="text"] {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    flex: 1;
}

.buscador button {
    padding: 8px 12px;
    font-size: 1em;
    color: #fff;
    background-color: #5a3a2d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buscador button:hover {
    background-color: #7a4d34;
}

/*--------------login----------------*/
.mainLogin {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4ddd1;
}

.login-container h1 {
    color: #5a3a2d;
}

.login-container {
    width: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 100px 0 0 0 ;
}

.form {
    width: 100%;
    margin: 10px 0;
}

.cuenta{
    margin-top: 20px;
    display: block;
    color: rgb(65, 106, 176);
 }

 .boton {
    margin-top: 15px;
 }

 /*--------------register----------------*/
.main-register {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 120px; 
    padding: 20px; 
    background-color: #e4ddd1; 
    min-height: calc(100vh - 100px); 
    box-sizing: border-box; 
}

.form-cont {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-top: 280px;
}


.form-cont h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #5d4037; 
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.input-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
    display: none;
    text-align: left;
}

.registrar {
    width: 100%;
    padding: 10px;
    background-color: #5d4037;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}

button:hover {
    background-color: #452c25;
}

.link {
    margin-top: 15px;
    font-size: 14px;
}

.link a {
    color: #5d4037; 
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.checkbox-group {
    text-align: left;
    margin-bottom: 25px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e4ddd1;
    font-family: Arial, sans-serif;

}

/*---------------- Index ----------------*/

.receta-index {
    margin-top: 280px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 5px; 
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center; 
    margin: 10px auto;
    width: 90%;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.recipe-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px; 
    box-sizing: border-box;
    width:  20%;
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe-card-content {
    padding: 10px;
    text-align: center;
}

.cargar-mas {
    margin: 30px auto;
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #5a3a2d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cargar-mas:hover {
    background-color: #7a4d34;
}

.recipe-grid, #categories-container, #category-recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
    padding-top: 260px;
}

.recipe-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    align-items: center;
}

.detalleHover {
    margin-top: bottom;
    color: #5d4037; 
    text-decoration: none;
}

.detalleHover a:hover {
    text-decoration: underline;
    color: #8223ab;
}


/*-------------footer--------------*/
.pie{
    background-color: #e4ddd1;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 0px 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.footer_nombres{
    font-style: italic;
}



/* ---------detalle de recetas--------- */

.article {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.artIMAGEN img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artTEXTO {
    flex: 1;
    color: #333;
    font-family: "Arial", sans-serif;
    height: 100%;
    justify-items: space-around;
    align-items: center;
}

.titulo {
    font-size: 34px;
    margin-bottom: 10px;
    color: #222;
    font-weight: bold;
}

.instrucciones {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.coc {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-top: 10px;
}

.categorias a {
    text-decoration: none;
    color: #ff5100;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.categorias a:hover {
    color: #7f5023;
    text-decoration: none;
}

/* ---------categories--------- */

.category, .recipe {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background: #f9f9f9;
}

.category a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe h2 {
    margin: 10px 0;
}

.recipe p {
    font-size: 14px;
    color: #555;
}

.recipe a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}